/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; /* Apply sans-serif font to all elements */
}

body {
  font-family: sans-serif; /* Ensure body text uses sans-serif */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.navbar {
  background-color: #77e47a; /* Green color for the navbar */
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is on top of other content */
  border-bottom: none; /* Ensure there's no border */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white; /* White text color */
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline; /* Underline on hover */
}

.content {
  padding-top: 60px; /* Space for the fixed navbar */
}

.content > section {
  margin: 0;
  background-color: #f9f9f9; /* Default background color */
}

.content > section:nth-child(even) {
  background-color: #eaf2e0; /* Greenish-white background for even sections */
}

.footer {
  background-color: #4CAF50; /* Green color for the footer */
  color: white; /* White text color */
  text-align: center;
  padding: 1rem;
}
