@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* Your styles here */


.home-section {
  position: relative;
  background-image: url('/public/IMG_5650.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
